.First {
  font-family: Cormorant Garamond;
  font-size: 80px;
  font-weight: 600;
  line-height: 127.16px;
  color: #000000;
}
.First0 {
  font-family: Cormorant Garamond;
  font-size: 35px;
  font-weight: 600;
  line-height: 48.44px;
}
.First1 {
  font-family: Lato;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  color: #515151;
}
.home-image {
  width: 400px;
}
.first2 {
  padding: 7px 40px;
  color: white;
  background: #9d0302;
  position: relative;
  right: -250px;
  border: none;
  border-radius: 8px;
}
.part1 {
  font-family: Cormorant Garamond;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: center;
  color: #5f1414;
}
.home-images {
  border-radius: 9px;
  width: 370px;
  margin: 5px;
}
@media (max-width: 600px) {
  .part1 {
    display: none;
  }
  .home-images {
    display: none;
  }
  .home-image {
    display: none;
  }
  .First {
    font-size: 50px;
    line-height: 45px;
  }
  .First0 {
    font-size: 20px;
  }
  .flash {
    background-image: url("../../public/hng17\ -\ Copy.jpg");
  }
  .first2 {
    left: 30px;
  }
  .First1 {
    font-size: 11px;
  }
}
